* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  background-color: #e0e5ec;
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
  padding: 30px;
  /* max-width: 320px; */
  width: 320px;
  text-align: center;
}
.display {
  margin-bottom: 20px;
  text-align: center;
}
.input,
.result {
  font-size: 2.5rem;
  color: #333;
  padding: 10px;
  margin: 5px;
  background: #f0f0f3;
  border-radius: 10px;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.1),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 10px 50px; */
  gap: 15px;
}
.button {
  border: 2px solid red;
  background: #f0f0f3;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.1),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease;
}
.button:active {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2),
    inset -1px -1px 3px rgba(255, 255, 255, 0.7);
}
.button.operator {
  background-color: #fdcb6e;
  color: white;
}
.button.operator:active {
  background-color: #e67e22;
}
button:focus {
  outline: none;
}
